.title{
padding-top:5%;

}
.gridd {
	padding-top:5%;

	list-style: none;
	text-align: center;
}
.gridd li {
	display: inline-block;
	width: 20%;
	padding: 80px 20px 40px;
  padding-top: 50px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	font-size: 1.25vw;
        color:#585858;

	background: white;
	border: 1px solid white;
	text-align: center;
}

.gridd li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.gridd li a{
color:#181818		;
    text-decoration:none ;
}

.gridd li a:hover{
  color: brown;

}

.gridd li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.gridd li:nth-child(1):before {
	background:#0c3953; 
background: -webkit-linear-gradient(to right,yellow, yellow);
background: linear-gradient(to right, yellow,yellow);
}
.gridd li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, yellow, yellow);
background: linear-gradient(to right, yellow, yellow);
}
.gridd li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.gridd li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
@media screen and (max-width: 500px)
 {

	.gridd li
  {
	  width: 50%;
	  font-size: 1.5vw;
  }}
  